@font-face {
  font-family: "Graphik";
  src: url("../fonts/graphik/Graphik-Regular.ttf"); }

@font-face {
  font-family: 'Graphik-regular';
  src: url("../fonts/graphik/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik-medium';
  src: url("../fonts/graphik/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik-semibold';
  src: url("../fonts/graphik/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik-black';
  src: url("../fonts/graphik/Graphik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Graphik', sans-serif;
  scroll-behavior: smooth; }

* {
  margin: 0;
  padding: 0; }

p, h2, h3, h4, h1, h5, h6, figure {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none !important; }

:root {
  --white: #ffffff;
  --brand-secondary: #041639;
  --brand-primary: #FF5E15;
  --brand-primary-light: rgba(250, 122, 63, 0.15);
  --brand-primary-dark: rgba(255, 255, 255, 0.2);
  --theme-black: #303030;
  --grey: #E5E5E5
; }

::selection {
  color: var(--white);
  background: var(--brand-primary); }

/* Track */
body::-webkit-scrollbar {
  width: 8px; }

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--brand-primary);
  border-radius: 10px; }

/*Font Style Start*/
.f-14 {
  font-size: 14px;
  line-height: 24px; }

.f-15 {
  font-size: 15px;
  line-height: 32px; }

.f-16 {
  font-size: 16px;
  line-height: 32px; }
  @media screen and (max-width: 576px) {
    .f-16 {
      font-size: 14px;
      line-height: 26px; } }

.f-18 {
  font-size: 18px;
  line-height: 20px; }

.f-20 {
  font-size: 20px;
  line-height: 22px; }

.f-30 {
  font-size: 30px;
  line-height: 33px; }
  @media screen and (max-width: 576px) {
    .f-30 {
      font-size: 24px;
      line-height: 26px; } }

.f-60 {
  font-size: 60px;
  line-height: 70px; }
  @media screen and (max-width: 576px) {
    .f-60 {
      font-size: 28px;
      line-height: 35px; } }
  @media screen and (min-width: 577px) and (max-width: 991px) {
    .f-60 {
      font-size: 36px;
      line-height: 50px; } }

.f-w-400 {
  font-weight: 400;
  font-family: Graphik-regular, sans-serif; }

.f-w-500 {
  font-weight: 500;
  font-family: Graphik-medium, sans-serif; }

.f-w-600 {
  font-family: Graphik-semibold, sans-serif; }

/*Font Style End*/
/*Text Style Start*/
.text-white {
  color: var(--white); }

.text-brand-secondary {
  color: var(--brand-secondary); }

.tex--brand-primary {
  color: var(--brand-primary); }

.text-theme-black {
  color: var(--theme-black); }

.bg-brand-secondary {
  background-color: var(--brand-secondary); }

.bg-brand-primary {
  background-color: var(--brand-primary); }

/*Text Style End*/
/*Utilities*/
.btn-brand-primary {
  border: 2px solid transparent;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-family: Graphik-semibold, sans-serif;
  font-size: 14px;
  line-height: 15px;
  padding: 15px 20px;
  min-height: 50px;
  border-radius: 11px;
  background-color: var(--brand-primary);
  box-shadow: 0px 10px 30px rgba(255, 94, 21, 0.2);
  transition: .3s ease all; }
  @media screen and (max-width: 576px) {
    .btn-brand-primary {
      border-radius: 9px;
      font-size: 12px;
      line-height: 13px; } }
  .btn-brand-primary:hover {
    color: var(--brand-primary);
    background-color: transparent;
    border: 2px solid var(--brand-primary); }

.styled-line {
  margin: 5px 0; }
  .styled-line hr {
    border-top: 3px solid var(--brand-primary);
    width: 35px;
    margin: 0; }
  .styled-line .locations-underline {
    border-top: 3px solid var(--white); }

/*Utilities End*/
/*banner Section Start*/
#banner-main {
  background: url("../assets/imgs/hero.png") no-repeat;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
  background-position: 30%;
  position: relative; }
  @media screen and (max-width: 1024px) {
    #banner-main {
      background-position: center; } }
  #banner-main .banner-socialmedia-links {
    position: absolute;
    right: 15px;
    top: 30%; }
    #banner-main .banner-socialmedia-links li {
      cursor: pointer;
      padding: 5px 0; }
  #banner-main #header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: var(--white); }
    #banner-main #header-main .header-logo {
      transition: 0.3s ease all; }
      #banner-main #header-main .header-logo img:nth-child(2) {
        display: none; }
    #banner-main #header-main .navigational-links {
      align-items: center; }
      #banner-main #header-main .navigational-links a {
        color: var(--brand-secondary);
        font-weight: 500;
        font-family: Graphik-medium, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        margin-right: 10px;
        transition: 0.3s ease all; }
        #banner-main #header-main .navigational-links a:hover {
          color: var(--brand-primary); }
      @media screen and (max-width: 991px) {
        #banner-main #header-main .navigational-links {
          align-items: flex-end; } }
  @media screen and (min-width: 991px) {
    #banner-main::before {
      content: url("../assets/imgs/vector-A.svg");
      position: absolute;
      left: 0;
      top: 20%;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    #banner-main::after {
      content: url("../assets/imgs/vector-A.svg");
      position: absolute;
      right: 0;
      bottom: 20%;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); } }

/*banner Section End*/
/*About Section Start*/
#about-main {
  position: relative; }
  @media screen and (min-width: 991px) {
    #about-main::before {
      content: url("../assets/imgs/vector-A.svg");
      position: absolute;
      left: 5px;
      top: 50%; }
    #about-main::after {
      content: url("../assets/imgs/vector-A.svg");
      position: absolute;
      right: 5px;
      top: 10%; } }
  #about-main .about-img {
    position: relative; }
    @media screen and (max-width: 991px) {
      #about-main .about-img::before {
        content: url("../assets/imgs/vector-B.svg");
        position: absolute;
        right: 36%;
        top: 0;
        z-index: -3; }
      #about-main .about-img::after {
        content: url("../assets/imgs/vector-A.svg");
        position: absolute;
        left: 36%;
        bottom: 0;
        z-index: -3; } }
    @media screen and (min-width: 991px) {
      #about-main .about-img::before {
        content: url("../assets/imgs/vector-B.svg");
        position: absolute;
        right: 10%;
        top: 0;
        z-index: -3; }
      #about-main .about-img::after {
        content: url("../assets/imgs/vector-A.svg");
        position: absolute;
        left: 10%;
        bottom: 0;
        z-index: -3; } }

/*About Section End*/
/*Services Section Start*/
#services-main {
  background: var(--grey); }
  #services-main .services-cards {
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      #services-main .services-cards {
        margin: 0 10px;
        overflow-x: scroll; } }
    @media screen and (min-width: 768px) {
      #services-main .services-cards {
        border-radius: 15px; } }
    #services-main .services-cards .services-card {
      cursor: pointer;
      background: var(--white); }
      @media screen and (max-width: 767px) {
        #services-main .services-cards .services-card {
          margin: 0 10px;
          border-radius: 10px; } }
      #services-main .services-cards .services-card .service-number {
        font-size: 18px;
        line-height: 20px;
        color: var(--brand-primary);
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 50%;
        padding: 9px 15px;
        background-color: var(--brand-primary-light); }
      #services-main .services-cards .services-card .service-type {
        font-size: 20px;
        line-height: 22px;
        font-weight: 600;
        color: var(--black); }
      #services-main .services-cards .services-card .service-description {
        color: var(--theme-black);
        font-size: 14px;
        font-weight: 400;
        font-family: Graphik-regular, sans-serif;
        line-height: 24px !important; }
      #services-main .services-cards .services-card:hover {
        background: var(--brand-primary); }
        #services-main .services-cards .services-card:hover .service-number {
          color: var(--white);
          background-color: var(--brand-primary-dark); }
        #services-main .services-cards .services-card:hover .service-type {
          color: var(--white); }
        #services-main .services-cards .services-card:hover .service-description {
          color: var(--white); }
  #services-main #slider_navigation .custom-arrow-left img {
    margin: 0 auto; }
  #services-main #slider_navigation .custom-arrow-left img:nth-child(1) {
    display: block; }
  #services-main #slider_navigation .custom-arrow-left img:nth-child(2) {
    display: none; }
  #services-main #slider_navigation .custom-arrow-left {
    background: transparent;
    border: 1px solid var(--brand-primary);
    border-radius: 50%;
    height: 40px;
    width: 40px; }
    #services-main #slider_navigation .custom-arrow-left:hover {
      background-color: var(--brand-primary); }
      #services-main #slider_navigation .custom-arrow-left:hover img:nth-child(1) {
        display: none; }
      #services-main #slider_navigation .custom-arrow-left:hover img:nth-child(2) {
        display: block; }
  #services-main #slider_navigation .custom-arrow-right img {
    margin: 0 auto; }
  #services-main #slider_navigation .custom-arrow-right img:nth-child(1) {
    display: block; }
  #services-main #slider_navigation .custom-arrow-right img:nth-child(2) {
    display: none; }
  #services-main #slider_navigation .custom-arrow-right {
    background: transparent;
    border: 1px solid var(--brand-primary);
    border-radius: 50%;
    height: 40px;
    width: 40px; }
    #services-main #slider_navigation .custom-arrow-right:hover {
      background-color: var(--brand-primary); }
      #services-main #slider_navigation .custom-arrow-right:hover img:nth-child(1) {
        display: none; }
      #services-main #slider_navigation .custom-arrow-right:hover img:nth-child(2) {
        display: block; }

/*Services Section End*/
/*Locations Section Start*/
#locations-main {
  background-color: var(--brand-primary);
  background-image: url("../assets/imgs/location-bg.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position: right bottom; }
  @media screen and (max-width: 575px) {
    #locations-main {
      background-position: center;
      background-size: cover; } }
  #locations-main .location-description span {
    font-weight: 500;
    font-family: Graphik-medium, sans-serif; }

/*Locations Section End*/
/*Footer Start*/
#footer-main .footer-links li {
  vertical-align: middle;
  margin-bottom: 10px; }
  #footer-main .footer-links li a {
    color: var(--theme-black);
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    font-family: Graphik-regular, sans-serif;
    transition: 0.3s ease all; }
    #footer-main .footer-links li a:hover {
      color: var(--brand-primary); }
  #footer-main .footer-links li:last-child {
    margin-bottom: 0; }

#copyright-main .copy-content {
  border-top: 1px solid rgba(5, 18, 50, 0.2); }
  #copyright-main .copy-content a, #copyright-main .copy-content span {
    font-weight: 400;
    font-family: Graphik-regular, sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: var(--theme-black); }

/*Footer End*/
