/*Fonts Start*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Ubuntu&display=swap");
@font-face {
  font-family: 'Graphik-regular';
  src: url("../assets/fonts/graphik/Graphik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Graphik-medium';
  src: url("../assets/fonts/graphik/Graphik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

/*Fonts End*/
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif; }

*, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0; }

button, input {
  outline: none; }

a {
  text-decoration: none !important;
  color: inherit; }
  a:hover {
    text-decoration: none !important;
    color: var(--theme-primary) !important; }

:root {
  --white: #ffffff;
  --light-white: rgba(255, 255, 255, 0.9);
  --theme-black: #141414;
  --theme-primary: #FF5080;
  --theme-secondary: #1A2136;
  --theme-light-grey: rgba(61, 77, 123, 0.6);
  --theme-dark-grey: rgba(61, 77, 123, 0.8); }

::selection {
  color: var(--white);
  background: var(--theme-primary); }

/* Track */
body::-webkit-scrollbar {
  width: 8px; }

.location-service-blocks::-webkit-scrollbar, #slider_container::-webkit-scrollbar, .location-list::-webkit-scrollbar {
  width: 0; }

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--theme-primary);
  border-radius: 10px; }

/*Text Style Start*/
.text-light-white {
  color: var(--light-white); }

.text-theme-light-grey {
  color: var(--theme-light-grey); }

.text-theme-dark-grey {
  color: var(--theme-dark-grey); }

.text-white {
  color: var(--white); }

.f-gr-400 {
  font-family: Graphik-regular, sans-serif; }

.f-gr-500 {
  font-family: Graphik-medium, sans-serif; }

/*Text Style End*/
/* Fonts Start */
.f-15 {
  font-size: 15px;
  line-height: 28px; }

.f-22 {
  font-size: 22px;
  line-height: 33px; }

.f-w-400 {
  font-weight: 400; }

.f-w-500 {
  font-weight: 500; }

.f-w-600 {
  font-weight: 600; }

.f-w-700 {
  font-weight: 700; }

.f-w-800 {
  font-weight: 800; }

/* Fonts End */
/*Common Elements Styles Start*/
.c-btn {
  display: inline-block;
  min-height: 56px;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  border-radius: 100px;
  border: 2px solid transparent;
  box-shadow: 0 10px 15px rgba(255, 80, 128, 0.2); }
  .c-btn span {
    padding: 15px 5px 15px 15px; }
  @media screen and (max-width: 991px) {
    .c-btn {
      font-size: 13px;
      line-height: 19px; } }

.c-outline-btn {
  min-height: 35px !important;
  padding: 10px;
  background-color: transparent;
  color: var(--theme-primary);
  border: 2px solid var(--theme-primary);
  transition: .3s ease all; }
  .c-outline-btn:hover {
    background-color: var(--theme-primary);
    color: var(--white); }

.c-fill-btn {
  background-color: var(--theme-primary);
  color: var(--white);
  transition: .3s ease all; }
  .c-fill-btn .white-arrow {
    display: inline-block; }
  .c-fill-btn .pink-arrow {
    display: none; }
  .c-fill-btn:hover {
    color: var(--theme-primary);
    background-color: var(--white); }
    .c-fill-btn:hover .white-arrow {
      display: none; }
    .c-fill-btn:hover .pink-arrow {
      display: inline-block; }

.c-white-btn {
  background-color: var(--white);
  color: var(--theme-primary);
  transition: .3s ease all; }
  .c-white-btn .white-arrow {
    display: none; }
  .c-white-btn .pink-arrow {
    display: inline-block; }
  .c-white-btn:hover {
    color: var(--white);
    background-color: transparent;
    border: 2px solid var(--white); }
    .c-white-btn:hover .white-arrow {
      display: inline-block; }
    .c-white-btn:hover .pink-arrow {
      display: none; }

.c-title {
  font-family: Poppins, sans-serif;
  font-size: 55px;
  line-height: 70px;
  font-weight: 700;
  color: var(--white); }
  @media screen and (max-width: 991px) {
    .c-title {
      font-size: 36px;
      line-height: 40px; } }

.c-title-2 {
  font-family: Poppins, sans-serif;
  font-size: 36px;
  line-height: 52px;
  font-weight: 700;
  color: var(--theme-secondary); }

/*Common Elements Styles End*/
/*Banner Start*/
#banner-main {
  min-height: 100vh;
  background-image: url("../assets/imgs/banner.png");
  background-size: cover;
  background-position: 40%;
  position: relative;
  z-index: 1; }
  #banner-main:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(107.52deg, rgba(0, 0, 0, 0.74) 21.9%, rgba(0, 0, 0, 0.26) 98.6%);
    z-index: -1; }
  #banner-main .header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: var(--white); }
    @media screen and (max-width: 991px) {
      #banner-main .header-main {
        background: var(--white); } }
    #banner-main .header-main .header-logo {
      transition: 0.3s ease all; }
      #banner-main .header-main .header-logo img:nth-child(2) {
        display: none; }
    #banner-main .header-main .navigational-links {
      align-items: center; }
      #banner-main .header-main .navigational-links a {
        color: var(--theme-black);
        font-family: Ubuntu, sans-serif;
        font-size: 15px;
        line-height: 17px;
        font-weight: normal;
        text-transform: uppercase;
        margin-right: 10px;
        transition: 0.3s ease all; }
        #banner-main .header-main .navigational-links a:hover {
          color: var(--theme-primary); }
      @media screen and (max-width: 991px) {
        #banner-main .header-main .navigational-links {
          align-items: end; } }
  #banner-main #banner-top-style {
    position: absolute;
    top: 100px;
    right: 15px;
    padding: 40px 50px;
    border-top: 2px solid var(--white);
    border-right: 2px solid var(--white); }
  #banner-main #banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  #banner-main #follow-us {
    position: absolute;
    border-left: 2px solid var(--white);
    border-bottom: 2px solid var(--white);
    bottom: 50px;
    left: 15px; }
    #banner-main #follow-us li {
      font-family: Graphik-medium, sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: var(--light-white); }

/*Banner End*/
/*About Start*/
@media screen and (min-width: 768px) {
  #about-main {
    background: url("../assets/imgs/about.png") no-repeat;
    background-position: left 50%;
    background-size: 60% 100%; } }

#about-main #about-content {
  position: relative;
  background: var(--theme-primary);
  z-index: 0;
  border-radius: 0 0 0 110px;
  padding: 96px; }
  @media screen and (min-width: 768px) and (max-width: 1250px) {
    #about-main #about-content {
      padding: 40PX;
      border-radius: 0 0 0 60px; } }
  @media screen and (max-width: 767px) {
    #about-main #about-content {
      border-radius: 0;
      padding: 30px 20px; } }
  #about-main #about-content::after {
    content: url("../assets/imgs/vector-A.png");
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }
  #about-main #about-content #about-description {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400; }
    @media screen and (max-width: 991px) {
      #about-main #about-content #about-description {
        font-size: 13px;
        line-height: 28px; } }

/*About End*/
/*Our Services Start*/
#our-services-main {
  background: #F2F3F6; }
  #our-services-main #our-services-container {
    border-radius: 30px;
    background: var(--white);
    padding: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 330px) {
      #our-services-main #our-services-container {
        padding: 30px 0; } }
    @media screen and (min-width: 331px) and (max-width: 991px) {
      #our-services-main #our-services-container {
        padding: 30px 10px; } }
    #our-services-main #our-services-container #slider_container {
      overflow-x: scroll; }
      #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block {
        display: inline-block;
        width: 270px;
        min-height: 236px;
        border-radius: 30px;
        padding: 20px;
        margin: 0 20px;
        outline: none !important;
        text-align: left;
        border: 1px solid rgba(61, 77, 123, 0.38); }
        @media screen and (max-width: 330px) {
          #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block {
            margin: 30px 10px; } }
        @media screen and (min-width: 331px) and (max-width: 991px) {
          #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block {
            margin: 30px 20px; } }
        #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block:focus {
          outline: none !important; }
        #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block h5 {
          font-family: Poppins, sans-serif;
          font-size: 18px;
          line-height: 27px;
          font-weight: 600;
          color: var(--theme-light-grey); }
        #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block p {
          margin-top: 10px;
          font-family: Poppins, sans-serif;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          color: var(--theme-light-grey); }
        #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block .scissor-img {
          margin-right: 15px; }
        #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block .black-scissor {
          display: inline-block; }
        #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block .white-scissor {
          display: none; }
        #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block:hover {
          cursor: pointer;
          background-color: var(--theme-primary);
          box-shadow: 0 10px 30px rgba(255, 80, 128, 0.3); }
          #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block:hover h5, #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block:hover p {
            color: var(--white); }
          #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block:hover .black-scissor {
            display: none; }
          #our-services-main #our-services-container #slider_container .services-slider-main .service-slider-block:hover .white-scissor {
            display: inline-block; }
  #our-services-main #slider_navigation .custom-arrow-left img {
    margin: 0 auto; }
  #our-services-main #slider_navigation .custom-arrow-left img:nth-child(1) {
    display: block; }
  #our-services-main #slider_navigation .custom-arrow-left img:nth-child(2) {
    display: none; }
  #our-services-main #slider_navigation .custom-arrow-left {
    background: transparent;
    border: 1px solid var(--theme-primary);
    border-radius: 50%;
    height: 40px;
    width: 40px; }
    #our-services-main #slider_navigation .custom-arrow-left:hover {
      background-color: var(--theme-primary); }
      #our-services-main #slider_navigation .custom-arrow-left:hover img:nth-child(1) {
        display: none; }
      #our-services-main #slider_navigation .custom-arrow-left:hover img:nth-child(2) {
        display: block; }
  #our-services-main #slider_navigation .custom-arrow-right img {
    margin: 0 auto; }
  #our-services-main #slider_navigation .custom-arrow-right img:nth-child(1) {
    display: block; }
  #our-services-main #slider_navigation .custom-arrow-right img:nth-child(2) {
    display: none; }
  #our-services-main #slider_navigation .custom-arrow-right {
    background: transparent;
    border: 1px solid var(--theme-primary);
    border-radius: 50%;
    height: 40px;
    width: 40px; }
    #our-services-main #slider_navigation .custom-arrow-right:hover {
      background-color: var(--theme-primary); }
      #our-services-main #slider_navigation .custom-arrow-right:hover img:nth-child(1) {
        display: none; }
      #our-services-main #slider_navigation .custom-arrow-right:hover img:nth-child(2) {
        display: block; }

/*Our Services End*/
/*Our Location Start*/
@media screen and (max-width: 991px) {
  #locations-main .location .location-img img {
    width: 48px;
    height: 48px; } }

#locations-main .location #location-img-1 {
  position: relative; }
  #locations-main .location #location-img-1::after {
    position: absolute;
    content: "";
    background: url("../assets/imgs/vector-location-path.png") no-repeat;
    height: 45px;
    width: 213px;
    left: 150%;
    top: 50%; }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      #locations-main .location #location-img-1::after {
        background-size: 80%;
        left: 120%; } }
    @media screen and (max-width: 767px) {
      #locations-main .location #location-img-1::after {
        transform: rotate(90deg);
        background-size: 50% 50%;
        left: -200%;
        top: 300%; } }

#locations-main .location #location-img-2 {
  position: relative; }
  #locations-main .location #location-img-2::after {
    position: absolute;
    content: "";
    background: url("../assets/imgs/vector-location-path.png") no-repeat;
    height: 45px;
    width: 213px;
    left: 150%;
    transform: rotate(180deg); }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      #locations-main .location #location-img-2::after {
        background-size: 80%;
        left: 30%;
        top: -50%; } }
    @media screen and (max-width: 767px) {
      #locations-main .location #location-img-2::after {
        background-size: 50% 50%;
        transform: rotate(270deg);
        left: -100%;
        top: 80%; } }

#locations-main .location .location-title {
  font-family: Graphik-medium, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #333333; }
  @media screen and (max-width: 991px) {
    #locations-main .location .location-title {
      font-size: 15px;
      line-height: 26px; } }

#locations-main .location .location-description {
  font-family: Graphik-regular, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--theme-light-grey);
  padding-top: 15px; }
  @media screen and (max-width: 991px) {
    #locations-main .location .location-description {
      font-size: 13px;
      line-height: 24px; } }

/*Our Location End*/
/*Footer Start*/
#footer-main {
  position: relative; }
  #footer-main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 80, 128, 0.096) 0%, rgba(241, 241, 241, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: -1; }
  #footer-main .footer-links li a {
    color: var(--theme-light-grey);
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    transition: 0.3s ease all; }
    #footer-main .footer-links li a:hover {
      color: var(--theme-primary); }
  #footer-main #copyright-main {
    margin-top: 30px; }
    #footer-main #copyright-main a {
      font-size: 12px;
      line-height: 18px;
      color: var(--theme-dark-grey); }
    #footer-main #copyright-main p {
      font-family: Graphik-regular, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: var(--theme-light-grey); }

/*Footer End*/
