@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;900&display=swap');

@font-face {
  font-family: "Graphik";
  src: url("../fonts/graphik/Graphik-Regular.ttf"), url("../fonts/graphik/Graphik-Medium.ttf");
}

@font-face {
  font-family: 'Graphik-regular';
  src: url('../fonts/graphik/Graphik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik-medium';
  src: url('../fonts/graphik/Graphik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


body, html {
  height: 100%;
  width: 100%;
  font-family: 'Graphik', sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}



:root {
  --white: #ffffff;
  --light-white: rgba(255, 255, 255, 0.9);
  --light-theme-black: rgba(30, 28, 26, 0.9);
  --brand-primary: #C59C5F;
  --theme-black: #1E1C1A;
}
p, h2, h3, h4,h5, h1, ul,figure {
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease all;
  &:hover {
    color: var(--brand-primary);
    text-decoration: none;
  }
}

::selection {
  color: var(--white);
  background: var(--brand-primary);
}

/* Track */
body::-webkit-scrollbar {
  width: 8px;
}
/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--brand-primary);
  border-radius: 10px;
}

/*Font Style Start*/
.f-14 {
  font-size: 14px;
  line-height: 22px;
  @media screen and(max-width: 576px) {
    font-size: 13px;
    line-height: 22px;
  }
}

.f-16 {
  font-size: 16px;
  line-height: 26px;
  @media screen and(max-width: 576px) {
    font-size: 13px;
    line-height: 26px;
  }
  @media screen and(min-width: 577px) and (max-width: 991px) {
    font-size: 15px;
    line-height: 26px;
  }
}

.f-18 {
  font-size: 18px;
  line-height: 26px;
}

.f-20 {
  font-size: 20px;
  line-height: 22px;
  @media screen and(max-width: 576px) {
    font-size: 16px;
    line-height: 18px;
  }
  @media screen and(min-width: 577px) and (max-width: 991px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.f-22 {
  font-size: 22px;
  line-height: 26px;
  @media screen and(max-width: 576px) {
    font-size: 18px;
    line-height: 20px;
  }
  @media screen and(min-width: 577px) and (max-width: 991px) {
    font-size: 20px;
    line-height: 22px;
  }
}

.f-40 {
  font-size: 40px;
  line-height: 47px;
  @media screen and(max-width: 576px) {
    font-size: 30px;
    line-height: 38px;
  }
  @media screen and(min-width: 577px) and (max-width: 991px) {
    font-size: 34px;
    line-height: 42px;
  }
}

.f-70 {
  font-size: 70px;
  line-height: 90px;
  @media screen and(max-width: 576px) {
    font-size: 42px;
    line-height: 52px;
  }
  @media screen and(min-width: 577px) and (max-width: 991px) {
    font-size: 50px;
    line-height: 56px;
  }
}

.f-w-400 {
  font-weight: 400;
  font-family: 'Graphik-regular', sans-serif;
}

.f-w-500 {
  font-weight: 500;
  font-family: 'Graphik-medium', sans-serif;
}

.f-w-600 {
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}

.f-w-900 {
  font-weight: 900;
}


/*Font Style End*/
/*Text Style Start*/
.text-white {
  color: var(--white);
}

.text-light-theme-black {
  color: var(--light-theme-black);
}

.text-light-white {
  color: var(--light-white);
}

.text-theme-black {
  color: var(--theme-black);
}

.text-brand-primary {
  color: var(--brand-primary);
}

.bg-white {
  background-color: var(--white);
}

.bg-theme-black {
  background-color: var(--theme-black);
}

/*Text Style End*/
/*Utilities Start*/
.c-btn {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Graphik-medium";
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid transparent;
  @media screen and(max-width: 576px) {
    font-size: 12px;
    line-height: 13px;
    padding: 10px 5px;
    border-radius: 6px;
  }
  @media screen and(min-width: 577px) and (max-width: 991px) {
    font-size: 14px;
    line-height: 16px;
    border-radius: 8px;
  }
}

.c-btn-brand-primary {
  background: var(--brand-primary);
  color: var(--white);
  transition: 0.3s ease all;
  box-shadow: 0px 10px 30px rgba(197, 156, 95, 0.2);
  &:hover {
    background: var(--white);
    color: var(--brand-primary);
    border: 2px solid var(--brand-primary)
  }
}

.c-btn-outline {
  background: transparent;
  border: 2px solid var(--brand-primary);
  color: var(--brand-primary);
  transition: 0.3s ease all;
  &:hover {
    background: var(--brand-primary);
    color: var(--white);
  }
}

.right-arrow {
  box-shadow: 0px 2px 3px #040403;
}

/*Utilities End*/

/*banner Section Start*/
#banner-main {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.74) 17.4%, rgba(0, 0, 0, 0) 87.06%), url("../imgs/hero.png") no-repeat;
  background-size: cover;
  background-position: 30% center;
  min-height: 100vh;
  position: relative;

  #header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: var(--white);

    #header-logo {
      transition: 0.3s ease all;

      img:nth-child(2) {
        display: none;
      }
    }

    #navigational-links {
      align-items: center;

      a {
        color: var(--theme-black);
        font-size: 16px;
        line-height: 18px;
        letter-spacing: .02em;
        font-family: "Graphik-regular", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        margin-right: 10px;
        transition: 0.3s ease all;

        &:hover {
          color: var(--brand-primary);
        }
      }
      @media screen and (max-width: 991px) {
        align-items: end;
      }
    }
  }

  #banner-title {
    margin-top: 25vh;
  }

  #banner-social {
    position: absolute;
    bottom: 20%;
  }
}

/*banner Section End*/

/*About Section Start*/
#about-main {
  position: relative;

  &::before {
    content: " ";
    background: url("../imgs/wave-vector.png") no-repeat;
    height: 100px;
    width: 100%;
    background-size: 100%;
    position: absolute;
    overflow: hidden;
    top: -50px;
    z-index: 1;
    @media screen and (max-width: 576px) {
      top: -15px;
    }
    @media screen and (min-width: 577px) and (max-width: 1024px) {
      top: -30px;
    }
  }

  &::after {
    content: " ";
    background: url("../imgs/wave-vector.png") no-repeat;
    transform: rotate(180deg);
    height: 100px;
    width: 100%;
    background-size: 100%;
    position: absolute;
    overflow: hidden;
    bottom: -50px;
    z-index: 1;
    @media screen and (max-width: 576px) {
      bottom: -15px;
    }
    @media screen and (min-width: 577px) and (max-width: 1024px) {
      bottom: -30px;
    }
  }

  #about-appointment {
    position: relative;

    &::after {
      content: url("../imgs/vector-square.svg");
      position: absolute;
      z-index: -1;
      bottom: -30px;
      right: -30px;
    }
  }
}

/*About Section End*/

/*Services Section Start*/
#services-main {
  background: var(--theme-black);

  #services-cards {
    padding: 15px 0;
    @media screen and (max-width: 768px) {
      overflow-x: scroll;
    }
    @media screen and (min-width: 769px) {
      flex-wrap: wrap;
    }

    .service-card {
      position: relative;
      background: transparent;
      min-width: 340px;
      width: 340px;
      margin: 15px 15px 25px 15px;
      padding: 30px 15px 20px 15px;
      border: 2px solid var(--brand-primary);
      border-radius: 20px;
      @media screen and (max-width: 768px) {
        min-width: 250px;
        width: 250px;
      }
      @media screen and (min-width: 769px) and (max-width: 991px) {
        min-width: 300px;
        width: 300px;
      }

      .service-img-top {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      .service-card-body {
        text-align: center;

        .service-title {
          font-family: "Raleway";
          font-weight: 600;
          font-size: 22px;
          line-height: 26px;
          color: var(--brand-primary);
          @media screen and (max-width: 991px) {
            font-size: 20px;
            line-height: 26px;
          }
        }

        .service-text {
          font-family: "Graphik-regular";
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          padding: 25px 0;
          color: var(--light-white);
          @media screen and (max-width: 991px) {
            font-size: 13px;
            line-height: 26px;
            padding: 15px 0;
          }
        }

        .service-book-now {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 26px;
          color: var(--brand-primary);
          padding-right: 12px;
          @media screen and (max-width: 991px) {
            font-size: 16px;
            line-height: 20px;
          }
        }
      }
    }
  }
}

/*Services Section End*/
/*Location Section Start*/
#locations-main {
  position: relative;

  &::before {
    content: " ";
    background: url("../imgs/wave-vector.png") no-repeat;
    height: 100px;
    width: 100%;
    background-size: 100%;
    position: absolute;
    //overflow: hidden;
    top: -50px;
    z-index: 1;
    @media screen and (max-width: 576px) {
      top: -15px;
    }
    @media screen and (min-width: 577px) and (max-width: 1024px) {
      top: -30px;
    }
  }

  #locations-content {
    border-radius: 20px;

    #location-1, #location-2 {
      @media screen and (max-width: 767px){
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      }
      @media screen and (min-width: 768px){
        border-right: 1px solid rgba(255, 255, 255, 0.1);
      }
    }
  }
}

/*Location Section End*/
/*Footer Start*/
footer {
  #footer-content {
    position: relative;

    & h5 {
      font-size: 16px !important;
      line-height: 30px !important;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, #FFEBCD 0%, rgba(255, 255, 255, 0) 43.88%);
      transform: matrix(1, 0, 0, -1, 0, 0);
      z-index: -1;
    }

    #footer-header {
      @media screen and (min-width: 768px) {
        border-right: 1px solid rgba(30, 28, 26, 0.2);
      }
    }

    #footer-nav {
      @media screen and (min-width: 768px) {
        border-right: 1px solid rgba(30, 28, 26, 0.2);
      }

      #footer-nav-links li {
        padding-right: 10px;
        font-size: 16px;
        line-height: 30px;

        &::before {
          content: "";
          background: url("../imgs/circle.svg") no-repeat;
          background-position: left center;
          padding: 0 10px;
        }
      }
    }
  }
}
