/*Fonts Start*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
/*Fonts End*/
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif; }

* {
  margin: 0;
  padding: 0; }

button, input {
  outline: none; }

a {
  text-decoration: none !important;
  color: inherit; }

:root {
  --white: #ffffff;
  --black: #303030;
  --theme-blue: #1AC8FF;
  --theme-grey: #758092;
  --theme-dark-blue: #172F53; }

::selection {
  color: var(--white);
  background: var(--theme-blue); }

body::-webkit-scrollbar {
  width: 8px; }

/* Track */
/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--theme-blue);
  border-radius: 10px; }

.text-grey {
  color: var(--theme-grey); }

/* Fonts Start */
.f-12 {
  font-size: 12px;
  line-height: 15px; }

.f-14 {
  font-size: 14px;
  line-height: 24px; }

.f-16 {
  font-size: 16px;
  line-height: 32px; }

.f-18 {
  font-size: 18px !important;
  line-height: 26px; }

.f-20 {
  font-size: 20px;
  line-height: 24px; }

.f-22 {
  font-size: 22px;
  line-height: 34px; }

.f-24 {
  font-size: 24px;
  line-height: 30px; }

.f-26 {
  font-size: 26px;
  line-height: 34px; }

.f-30 {
  font-size: 30px;
  line-height: 42px; }

.f-36 {
  font-size: 36px;
  line-height: 44px; }

.f-40 {
  font-size: 40px;
  line-height: 45px; }

.f-46 {
  font-size: 46px;
  line-height: 62px; }

.f-60 {
  font-size: 60px;
  line-height: 70px; }
  @media screen and (max-width: 576px) {
    .f-60 {
      font-size: 24px;
      line-height: 35px; } }

.f-w-400 {
  font-weight: 400; }

.f-w-500 {
  font-weight: 500; }

.f-w-600 {
  font-weight: 600; }

.f-w-700 {
  font-weight: 700; }

.f-w-800 {
  font-weight: 800; }

/* Fonts End */
/*Common Elements Styles Start*/
.c-fill-btn {
  display: inline-block;
  min-width: 150px;
  min-height: 46px;
  padding: 15px 20px;
  border-radius: 100px;
  background-color: var(--theme-blue);
  color: var(--white);
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 10px 30px rgba(26, 200, 255, 0.25); }
  @media screen and (max-width: 991px) {
    .c-fill-btn {
      min-height: 40px;
      padding: 5px 20px; } }

.c-white-btn {
  display: inline-block;
  min-width: 150px;
  min-height: 46px;
  padding: 15px 20px;
  border-radius: 100px;
  background-color: var(--white);
  color: var(--theme-blue);
  border: none;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0px 10px 30px rgba(26, 200, 255, 0.25); }

.c-title {
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
  color: var(--theme-dark-blue);
  position: relative;
  text-transform: uppercase; }

/*Common Elements Styles End*/
/*Banner Start*/
#banner-main {
  min-height: 100vh;
  background-image: url("../assets/imgs/banner.png");
  background-size: cover;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 991px) {
    #banner-main {
      background-position: 50%; } }
  #banner-main:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(4, 22, 57, 0.5);
    z-index: -1; }
  #banner-main #header-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: var(--white); }
    #banner-main #header-main .header-logo {
      transition: 0.3s ease all; }
      #banner-main #header-main .header-logo img:nth-child(2) {
        display: none; }
    #banner-main #header-main .navigational-links {
      align-items: center; }
      #banner-main #header-main .navigational-links a {
        color: var(--theme-dark-blue);
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        text-transform: uppercase;
        margin-right: 10px;
        transition: 0.3s ease all; }
        #banner-main #header-main .navigational-links a:hover {
          color: var(--theme-blue); }
      @media screen and (max-width: 991px) {
        #banner-main #header-main .navigational-links {
          align-items: flex-end; } }
  #banner-main #follow-us {
    position: absolute;
    bottom: 50px; }
    @media screen and (max-width: 991px) {
      #banner-main #follow-us {
        bottom: 0;
        text-align: center;
        left: 0;
        right: 0; } }

/*Banner End*/
/*About Start*/
#about-main {
  position: relative; }
  #about-main:after {
    content: url("../assets/imgs/dots.png");
    position: absolute;
    right: 0;
    top: 0; }
  #about-main:before {
    content: url("../assets/imgs/dots.png");
    position: absolute;
    left: 0;
    bottom: 0; }
  #about-main .title-after:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background-color: var(--theme-blue); }

/*About End*/
/*Our Services Start*/
#our-services-main {
  background: linear-gradient(180deg, #F6F8FF 36.01%, #FFFFFF 98.08%);
  overflow: hidden; }
  #our-services-main .slick-initialized .slick-slide {
    outline: none !important; }
    #our-services-main .slick-initialized .slick-slide:focus {
      outline: none !important; }
  #our-services-main .services-slider-main .slick-slide {
    text-align: center; }
  #our-services-main .services-slider-main .service-slider-block {
    display: inline-block;
    width: 334px;
    min-height: 186px;
    border-radius: 15px;
    padding: 20px;
    outline: none !important;
    text-align: left; }
    #our-services-main .services-slider-main .service-slider-block:focus {
      outline: none !important; }
    #our-services-main .services-slider-main .service-slider-block h5 {
      font-size: 16px;
      line-height: 24px;
      color: #2D385F; }
    #our-services-main .services-slider-main .service-slider-block p {
      font-size: 14px;
      line-height: 30px;
      color: #758092; }
    #our-services-main .services-slider-main .service-slider-block:hover {
      cursor: pointer;
      background-color: var(--white); }
  #our-services-main .services-slider-main .slick-dots {
    bottom: -50px;
    width: auto;
    text-align: left !important; }
    #our-services-main .services-slider-main .slick-dots li {
      width: 30px;
      text-align: center !important; }
      #our-services-main .services-slider-main .slick-dots li button {
        background: rgba(9, 22, 27, 0.15);
        height: 8px !important;
        width: 8px !important;
        border-radius: 50%;
        padding: 0 !important;
        display: inline-block; }
        #our-services-main .services-slider-main .slick-dots li button:before {
          content: none !important; }
    #our-services-main .services-slider-main .slick-dots .slick-active button {
      background-color: var(--theme-blue) !important;
      height: 0;
      width: 30px !important;
      border-radius: 15px; }
  #our-services-main .services-slider-main .slick-prev {
    right: 50px !important;
    bottom: -65px !important;
    top: unset;
    left: unset; }
    @media screen and (max-width: 576px) {
      #our-services-main .services-slider-main .slick-prev {
        bottom: -50px !important;
        left: 35% !important; } }
  #our-services-main .services-slider-main .slick-next {
    right: 0 !important;
    bottom: -65px !important;
    top: unset;
    left: unset; }
    @media screen and (max-width: 576px) {
      #our-services-main .services-slider-main .slick-next {
        bottom: -50px !important;
        right: 35% !important; } }
  #our-services-main .services-slider-main .slick-prev:before {
    content: none !important; }
  #our-services-main .services-slider-main .slick-next:before {
    content: none !important; }
  #our-services-main .services-slider-main .custom-slick-arrow-left img {
    margin: 0 auto; }
  #our-services-main .services-slider-main .custom-slick-arrow-left img:nth-child(1) {
    display: block; }
  #our-services-main .services-slider-main .custom-slick-arrow-left img:nth-child(2) {
    display: none; }
  #our-services-main .services-slider-main .custom-slick-arrow-left {
    background: transparent;
    border: 1px solid var(--theme-blue);
    border-radius: 50%;
    height: 40px;
    width: 40px; }
    #our-services-main .services-slider-main .custom-slick-arrow-left:hover {
      background-color: var(--theme-blue); }
      #our-services-main .services-slider-main .custom-slick-arrow-left:hover img:nth-child(1) {
        display: none; }
      #our-services-main .services-slider-main .custom-slick-arrow-left:hover img:nth-child(2) {
        display: block; }
  #our-services-main .services-slider-main .custom-slick-arrow-right img {
    margin: 0 auto; }
  #our-services-main .services-slider-main .custom-slick-arrow-right img:nth-child(1) {
    display: block; }
  #our-services-main .services-slider-main .custom-slick-arrow-right img:nth-child(2) {
    display: none; }
  #our-services-main .services-slider-main .custom-slick-arrow-right {
    background: transparent;
    border: 1px solid var(--theme-blue);
    border-radius: 50%;
    height: 40px;
    width: 40px; }
    #our-services-main .services-slider-main .custom-slick-arrow-right:hover {
      background-color: var(--theme-blue); }
      #our-services-main .services-slider-main .custom-slick-arrow-right:hover img:nth-child(1) {
        display: none; }
      #our-services-main .services-slider-main .custom-slick-arrow-right:hover img:nth-child(2) {
        display: block; }

/*Our Services End*/
/*Our Location Start*/
#our-location-main {
  background: linear-gradient(180deg, #F6F8FF 36.01%, #FFFFFF 98.08%);
  position: relative;
  z-index: 0; }
  #our-location-main:after {
    content: '';
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: var(--white);
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0; }
  #our-location-main:before {
    content: url("../assets/imgs/dots.png");
    position: absolute;
    right: 0;
    top: 80px; }
  #our-location-main #our-location-block {
    background-color: var(--theme-blue);
    border-radius: 20px;
    min-height: 180px;
    width: 100%;
    position: relative;
    z-index: 0;
    align-items: center;
    display: flex; }
    #our-location-main #our-location-block:after {
      content: url("../assets/imgs/white-dots.png");
      position: absolute;
      left: 0;
      top: 0; }
    #our-location-main #our-location-block:before {
      content: url("../assets/imgs/white-dots.png");
      position: absolute;
      left: 150px;
      bottom: 0; }

/*Our Location End*/
/*Footer Start*/
#footer-main .footer-links li {
  margin-bottom: 10px; }
  #footer-main .footer-links li a {
    color: var(--black);
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    transition: 0.3s ease all; }
    #footer-main .footer-links li a:hover {
      color: var(--theme-blue); }
  #footer-main .footer-links li:last-child {
    margin-bottom: 0; }

#copyright-main {
  background: linear-gradient(180deg, #F6F8FF 36.01%, #FFFFFF 98.08%); }
  #copyright-main a span {
    font-size: 14px;
    line-height: 16px;
    color: var(--black); }
  #copyright-main p {
    font-size: 14px;
    line-height: 16px;
    color: var(--black); }

/*Footer End*/
